.header{
    padding: 5px 50px;
    background-color: #3e595e;
    span {
        padding: 20px 113px;
        background: url('../../assets/logo.png') center center no-repeat;
        background-size: cover;
        display: block;
        margin: 0;
    }
}
